h1 {
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    color: #1a0aac;
    text-align: center; 
      
  }
  
  h2 {
    text-align: center;
    color: aquamarine;
    margin-top: 5%;
    font-size: 3vh;
  }
  
  h3 {
    color: aquamarine;
    text-align: center;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    margin-top: 20%;
    font-size: 25px;
  }