{% extends 'cane/base.html' %}
<style>

    h1
    {
        font-size : 30px;
      font-weight : bold;
        text-align: center;
        background-color: greenyellow;
    }
    label,a 
    {
        font-family : Arial, Helvetica, sans-serif;
        font-size : 16px; 
        border-radius: 10px;
    }
    
    .footer {
        
        position: absolute;
        bottom: 0;
        width: 100%;  
      }
    
    
    
    
    </style>	
    <!-- a helper script for vaidating the form-->
    <script language="JavaScript" src="scripts/gen_validatorv31.js" type="text/javascript"></script>
    </head>
{% block content%}



<h1 style="text-align: center; color: green;">Chi sono</h1>

<div class="boxinfo">
    <form method="POST" name="contactform" action="contact-form-handler.php"> 
    <p>
    <label for='name'>Nome e Cognome:</label> <br>
    <input type="text" name="name" required>
    </p>
    <p>
    <label for='email'>Email:</label> <br>
    <input type="text" name="email"	required> <br>
    </p>
    <p>
    <label for='message'>Messaggio:</label> <br>
    <textarea name="message" required></textarea>
    </p>
    
    <input type="submit" value="Invia">
    <input type="reset" value="Cancella"><br>
    </form>
    </div>
    
    
    <script language="JavaScript">
    // Code for validating the form
    // Visit http://www.javascript-coder.com/html-form/javascript-form-validation.phtml
    // for details
    var frmvalidator  = new Validator("contactform");
    frmvalidator.addValidation("name","req","Please provide your name"); 
    frmvalidator.addValidation("email","req","Please provide your email"); 
    frmvalidator.addValidation("email","email","Please enter a valid email address"); 
    </script>

{% endblock%}