<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Christian">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grazie</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    </head>

<body>

	<!-- define some style elements-->
<style>
h1
{
	padding-top: 100px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 30px;
    font-weight : bold;
	
}
label,a,body
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px; 
}

</style>	
<!-- a helper script for vaidating the form-->
</head>	
</head>

<style>
	.footer {
    
    text-align: center;
    padding: 10px;
    color: greenyellow ;
    position: absolute;
    bottom: 0;
    width: 100%;  
  }
</style>

<body>

	<body>
		<a href="index.html"><img src="img/icons8-casa-48.gif" width="50px"></a>
		<a href="foto.html"><img src="img/icons8-camera-with-flash-48.gif" width="50px"></a>
		<a href="contatti.html"><img src="img/icons8-busta-cerchiata-48.gif" width="50px"></a>
		<a href="https://www.facebook.com/profile.php?id=100083087534512"><img src="img/icons8-facebook-nuovo-48.gif" width="50px" align = "right"></a>
		<a href="index.html"><img src="img/icons8-instagram-48.gif" width="50px" align = "right"></a>
		<a href="index.html"><img src="img/icons8-twitter-48.gif" width="50px" align = "right"></a>
        <a href="about-me.html"><img src="img/me.png" width="50px" align = "right"></a>
		
<h1>Grazie!</h1>
Grazie per avermi contattato. Ti risponderò nel più breve tempo possibile!

<div class="footer">
	<p>Copyright by Chris 2023</p>
</div>
</body>
</html>