{% extends 'cane/base.html' %}

{% block content%}

{% load static %}

<link rel="stylesheet" href="{% static 'cane/style.css' %}">

<body style="background-image: url('{% static 'cane/index2.jpg' %}'); background-repeat: no-repeat; background-size: 100%;">
    
</body>
<div style="text-align: center; color: #1a0aac; font-size: 50px; font-family: "Sofia", sans-serif;">
    <h1>La Casa Di Ameliè</h1>    
</div>


<div style="background-image: url(img/index2.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center center;"></div>


<div style="text-align: center; color: aquamarine; margin-top: 5%; font-size: 3vh;">
<h2>Una vacanza per il tuo amico a 4 zampe</h2>
</div>

<div style="text-align: center; color: aquamarine; margin-inline-start: 5%; margin-inline-end: 5%; margin-top: 20%; font-size: 25px; ">
<h3>Hai la necessità di assentarti per lavoro o vacanza e non sai a chi lasciare il tuo amico a quattro zampe? La
    casa di Amelie è ciò che fa per te. Una pensione casalinga dove il tuo cane sarà accudito e coccolato come a
    casa tua, dove potrà giocare insieme agli altri ospiti nell' ampio giardino o riposare dentro casa in nostra
    compagnia.La disponibilità dei posti è limitata quindi è gradita la prenotazione con un certo anticipo.</h3>
</div><br><br>




{% endblock%}





